.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);

  display: none;
}

.modal__content {
  padding: 25px;
  background: white;
  border-radius: 15px;
  min-width: 250px;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 420px) {
  .modal__content {
    padding: 10px;
    max-width: 400px;
  }
}

@media all and (max-width: 400px) {
  .modal__content {
    max-width: 390px;
  }
}

@media all and (max-width: 380px) {
  .modal__content {
    max-width: 350px;
  }
}

@media all and (max-width: 350px) {
  .modal__content {
    max-width: 330px;
  }
}

@media all and (max-width: 330px) {
  .modal__content {
    max-width: 320px;
  }
}
