.h1 {
  margin-top: 96.5px;
  margin-bottom: 35px;
  font-family: Montserat, sans-serif;
  font-weight: 700;
  font-size: 3.866rem;
  line-height: 80px;
  color: #252B42;
}

.buttons {
  width: 100%;
  max-width: 293px;

  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 96.5px;
}
