.item {
  max-width: 328px;
  height: auto;
  padding: 35px 50px 35px 40px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  font-family: Montserat, sans-serif;
  cursor: pointer;
  text-decoration: none;

  transition: transform 0.2s linear;
}

.item:hover {
  box-shadow: 0px 15px 22px rgba(0, 0, 0, 0.09);
}

.img {
  width: 100%;
  max-width: 72px;
  height: auto;
}

.title {
  font-size: 1.06rem;
  line-height: 24px;
  font-weight: 700;
  color: #252B42;
  position: relative;
  margin-bottom: 40px;
}

.title:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #E74040;

  position: absolute;
  bottom: -20px;
  left: 0;
}

.text {
  font-size: 0.933rem;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
}


@media all and (max-width: 1024px) {
  .item {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
