.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserat, sans-serif;
  font-weight: 400;
}

.h3 {
  font-size: 1.5rem;
  color: #252B42;
}

.input {
  border-radius: 7px;
  border: 1px solid #FF685B;
  padding: 10px 30px;
  margin-bottom: 20px;

  font-size: 1.5rem;
  color: #252B42;

  outline: none;
}

.label {
  font-size: 1rem;
  color: #E74040;
  margin-bottom: 5px;
  padding: 5px;
}

@media all and (max-width: 400px) {
  .input {
    max-width: 380px;
  }
}

@media all and (max-width: 380px) {
  .input {
    max-width: 340px;
  }
}

@media all and (max-width: 350px) {
  .input {
    max-width: 320px;
  }
}

@media all and (max-width: 320px) {
  .input {
    max-width: 300px;
  }
}
